{% extends 'base.html' %}
{% block block_content %}
    <div class="centerstage">
        {% for post in post_list %}
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>Publish:{{ post.publish_date|date:'D M Y' }}</p>
            <p><a href="{% url 'post_detail' pk=post.pk %}">Comment:{{ post.approve_comment.count }}</a></p>

        {% endfor %}
    </div>

{% endblock %}
{% block loader %}
    <div class="wrapper">
        <div class="loader">
            <div class="hexagon-container">
                <span class="hexagon hex_1"></span>
                <span class="hexagon hex_2"></span>
                <span class="hexagon hex_3"></span>
                <span class="hexagon hex_4"></span>
                <span class="hexagon hex_5"></span>
                <span class="hexagon hex_6"></span>
                <span class="hexagon hex_7"></span>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {


            function Preloader() {

                var preloader = $('.wrapper');
                preloader.fadeOut(2100);
            }

            if (!sessionStorage.getItem('doNotShow')) {
                sessionStorage.setItem('doNotShow', true);
                Preloader();
            } else {
                $('.wrapper').hide();
            }
        });

    </script>
{% endblock %}